
@media all and (max-width:610px){
    .box{
        flex-direction: column;
        margin: 50px;
    }
    .firstBox{
        margin-bottom: 50px;
        transform: translateY(-200px); 
    }
    .secondBox{
       
        transform: translateY(-133px); 
      } 
      .need{
        font-size: 20px;
      }
    .from{
        transform: translateY(-100px); 
        margin-left:155px;
    }
    section{
    width: 550px;
    padding: 50px;
    height: 1600px;
    flex-direction: column;
    }
    .iconp{
        font-size: 15px;
    }
    .about{
    width: 400px;
    }
    .fourDiv{
        width: 350px;
    flex-direction: column;
    margin-top: 180px;
    }
    .div13{
        margin-bottom: 50px;
    }
    .pink{
        flex-direction: column;
    }
    .fob1{
        left: 250px;
        width: 430px;
    }
    .info{
        left: 282px;
        transform: translateY(-200px);

    }
    .iconAndtext p{
        font-size: 25px;
    }
    .branding{
        top: 802px;
        left: 265px;
        transform: translateY(-100px);
        margin: 10px 0;
    }
    .branding p{
        font-size: 15px;
    }
    .img1{
        width: 100px;
        height: 100px;

    }
    .img1{
        position: absolute;
        width: 500px;
        height: 450px;
        top: 4201px;
        left: 264px;
    }
    .aTwo{
        margin-top:250px;
        width: 550px;
        height: 1200px;
    }
    .fob1{
        width: 400px;
        height: 400px;
        transform: translateY(80px);
    }
    .fob2{
        width: 500px;
        height: 400px;
    }
    .twoPink{
        width: 500px;
        padding:0 50px;
        flex-direction: column;
    }
    .InfooText p{
        margin-top: 20px;
        font-size: 30px;
    }
    footer{
        height: 1500px;
    }
    .InfooText{
         width: 500px;
         height: 400px;
         padding: 50px 20px;
     }
     .devAddress,.headline{
        display: flex;
        flex-direction: column;
     }
     .dev{
        width: 350px;
        height: max-content;
        margin-top: 300px;
     }
     .devinfo{
        height: max-content;
        margin-top: 10px;
     }
     .devinfop{
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: lighter;
    
    }
    .devinfoh{
        font-size: 10px;
      
    }
     .addres{
        width: 400px;
        margin-top: 30px;
     }
     .addresP{
        font-size: 15px;
     }
     .headline{
        margin-top: 350px;
        height: max-content;
     }
     .head{
        width: 300px;
     }
    .headp{
        font-size: 20px;
        font-weight: lighter;
    }
    aside{
        height: max-content;
    }
    .all3,.images123,.images456,.images789{
        display: flex;
        flex-direction: column;width: max-content;
        height: max-content;
        
    }
    .imag,.imagp{
        height: 200px;
        width: 200px;
    }
    .imagp{
        font-size: 25px;
    }
    .divButton{
        display: flex;
        flex-direction: column;
    }
    .buttonCenter{
        justify-content: center;
        align-self: center;
    }
    .sectionPink{
        width: 550px;
    }
    .sectionBox{
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    .whattext{
        width: 200px;
    }
    .awards{
        margin-left: 20px;
        width: 100px;
        margin: 0;
    }
    .cC{
        width: 300px;
        transform: translateX(80px);
    }
    .clients{
        width: 200px;
    }
    .cases{
        transform: translateX(150px);
    }
}
@media all and (min-width:611px) and (max-width:743px){
     .threeLine{
        display:none;
    }
    .box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }
   .imgHeader{
    width: 100%;
    background-size: cover;
   }
    .firstBox{
        margin: 0;
        width: 500px;
        height: 358px;
        transform: translateY(-200px); 
      }
      .secondBox{
        width: 500px;
        height:308px;
        transform: translateY(-133px); 
      } 
      section{
        flex-direction: column;
        height: 1200px;
     }
      .about{
        margin-top:100px; 
        margin-left: 20px;
        width: 500px;
        height: max-content;
        margin-bottom: 150px;
      
    }
    .fourDiv{
        width: 680px;
        height: 400px;
    }
    .fob1{
        top: -45px;
        left: 250px;
        width: 430px;
    }
    .info{
        left: 282px;
    }
    .branding{
        top: 802px;
        left: 265px;
    
    }
    .img1{
        position: absolute;
        width: 500px;
        height: 450px;
        top: 3606px;
        left: 264px;
    }
    .aTwo{margin-top: 250px;}
    .fob2{
        width: 300px;
    }
    .InfooText{
        width: 300px;
    }
    
}
 @media all and (min-width:744px) {
    .imgHeader{
        width: 100%;
        background-size: cover;
       }
    .box{
        margin-left: 70px;
        justify-content: center;
        align-items: center;
    }
    .firstBox{
    transform: translateY(-234px);
    }
    .secondBox{
        margin-left: 40px;
        transform: translateY(-450px); 
    }
    .from{
        transform: translateX(-450px); 
        margin-top: 25px;
    }
    section{
       justify-content: center;
       align-items: center;
       margin: 0;
       transform: translateY(-120px); 
     }
    .about{
        height: 300px;
        margin:100px 20px; 
        width: 550px;
      
    }
    .need{
        font-size: 25px;
    }
    .iconp{
        font-size: 15px;
    }
    .branding p{
        font-size: 15px;
    }
    .images123,.images456,.images789{
        display: flex;
    }
    
}